/* MAIN */
/* * {cursor: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag:none;} */
body{background-size: cover; background-repeat: no-repeat; overflow:hidden; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica; font-weight:300; background-color:#f1f1ec;}
p{margin:0; color:#26313d; font-size:30px;}
h2{font-size:70px; color:#cc0066; font-weight:300; line-height:100%; margin:100px 0 35px 0;}
h5{color:#26313d; }
.st2{fill:#000;}
button{font-size:30px; min-width:210px; border:none; color:#f1f1ec; font-weight:300; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica;  padding:15px 20px 14px 20px; border-radius:45px; margin-top:57px;}
button[data-button="pink"]{background:#cc0066;}
button[data-button="transparent"]{margin: 0; left: 50%; position: relative; transform: translate(-50%, -50%); background: transparent; color: #26313d; border: 1px solid #26313d; opacity: 1; pointer-events: none; transition: ease .3s all; float: left;}
button[data-button="transparent"].visible{background:#cc0066; pointer-events:auto; border:1px solid transparent; color:#f1f1ec;}
:focus {outline:0;}
.hidden{opacity:0; pointer-events:none;}

/* FONTS */
@font-face {
	font-family: 'Rubik-Light';
	src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rubik-Light.woff') format('woff'), url('../fonts/Rubik-Light.ttf')  format('truetype'), url('../fonts/Rubik-Light.svg#Rubik-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

.languages{position:absolute; top:50%; transform:translate(0%, -50%); left:100px; display:flex; flex-direction:column;}
	.languages div{position:relative; transition:ease .3s all; margin:11px 0; font-size:18px; border:1px solid #26313d; border-radius:50%; width:60px; height:60px;}
		.languages div.active{border:1px solid #cc0066;}
			.languages div span{top: 50%; position: relative; transition:ease .3s all; transform: translate(0, -50%); float: left; width: 100%;}
				.languages div.active span{color:#cc0066;}
.home_btn{position: absolute; top: 120px; left: 100px; width: 60px; height: 60px; border: 1px solid #26313d; border-radius: 50%;}
	.home_btn img{top:50%; position:relative; transform: translate(0, -50%);}

.choose_gender_images{width: 776px; height: 549px; position: relative; margin-left: 48%; transform:translate(-50%, 0); margin-top: 5%;}
	.choose_gender_images img{position:absolute; top:0; transition:ease .3s all;}
		.choose_gender_images img.g1{bottom:0; left:0;}
		.choose_gender_images img.g2{right:0;}
			.choose_gender_images img.not_active{opacity:.4;}

.selected_appearance p{color:#f1f1f1;}
	.partners_count h2{font-size:300px;}

/* TULBAD */
.row{width:250px; height:370px; display: inline-table; margin-left: 83px; margin-top:100px;}
.row:nth-child(1){margin-left:0px;}


/* TULBA NUPUD*/
.row_nupud{position:relative;border:1px solid #26313d; width: 250px; height: 40px; margin-bottom: 16px; border-radius: 25px; overflow: hidden;}
.row p {font-size: 18px;}
.row_nupud p {position: relative; top: 50%; transform: translateY(-50%);}
.row #tulba_pealkiri{margin-bottom: 30px;}

/* ANIMATSIOON */

.row_nupud:before {
	content: "";
	position :absolute;
	height:100%;
	width: 0px;
	background-color: #4d004d;
	transition: width .6s ;
	left: 0;
	top: 0;
}

.row_nupud.selected_appearance:before {
	width:250px;
	transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
}

/* VIEW 1 */
.view[data-view="1"] img{margin-top:200px;}
.view[data-view="1"] h2{margin-top: 75px;}

/* VIEW 3 */
.view[data-view="3"] p[data-translation="aastat_vana"]{color:#cc0066; position: relative; top:250px;}
.view[data-view="3"] h2[data-translation="vanus"]{position: relative; top:277px;}
.view[data-view="3"] button[data-button="transparent"]{top:347px;}

/* VIEW 4 */
.view[data-view="4"] button[data-button="transparent"]{margin-top:130px;}

/* VIEW 5 */
.view[data-view="5"] #row_1{margin-top: 190px;}

/* VIEW 7 */
.view[data-view="7"]{background-color: #a0dae3;}
.view[data-view="7"] h2{float:left; width:100%;}
.view[data-view="7"] img.luup{position: absolute;margin-top: 94px;transform: translate(-17%, 0);}

/* VIEW 8 */
.view[data-view="8"] h2.partnerite_arv{font-size:300px; margin-bottom: 100px;}
.view[data-view="8"] p[data-translation="kas_soovid_yhendada"]{margin-bottom: 30px;}
.view[data-view="8"] button[data-button="pink"]{ min-width: 340px; height: 70px;}

/* VIEW 9 */
.view[data-view="9"] h2{margin-bottom: 150px; float:left; width:100%;}
.view[data-view="9"] p{margin-bottom: 60px; line-height: normal;}
.view[data-view="9"] button[data-button="pink"]{margin-top: 118px;}
.view[data-view="9"]{background-color: #a0dae3;}

